@using AspNet_PassingData.Models
@model List<Product>

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <style>
            table {
                border-collapse;
                width: 100%
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 9px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>

    </head>
    <body>
        <table>
            <tr>
                <th>Ürün İsmi</th>
                <th>Kategori</th>
                <th>Fiyat</th>
            </tr>
            @foreach (Product item in Model)
	        {
		      <tr>
                  <td>@item.ProductName</td>
                  <td>@item.CategoryName</td>
                  <td>@item.UnitPrice.</td>
              </tr>
        	}
        </table>
    </body>
    </html>